.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 200px;
    padding: 5px;

}

.former {
    top: 45px;
    right: 450px;
    width: 750px;
    padding-left: 375px;
    width: 750px;
    height: 200px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 45px;
    left: 400px;
    color: white;
    font-size: 35px;
}

.top-left {
    position: absolute;
    top: 45px;
    left: 400px;
    color: white;
    font-size: 40px;
    font-style: bold;
}

#keywordl:after {
    content: "*";
    color: red;
}



#categoryl:after {
    content: "*";
    color: red;
}

#locationl:after {
    content: "*";
    color: red;
}

#distancel {
    color: blue;
    font-size: 20px;
}

#locationl {
    color: blue;
    font-size: 20px;
}

#keywordl {
    color: blue;
    font-size: 20px;
}

#categoryl {
    color: blue;
    font-size: 20px;
}

#distancel {
    color: blue;
}

#keyword {
    width: 750px;
    height: 30px;
}

#distancel {
    width: 150px;

}

#location {
    width: 750px;
    height: 30px;
}

#distance {
    width: 250px;
    height: 30px;

}

#categoryl {
    width: 100px;
}


#category {
    width: 100px;
    height: 30px;
}

.righter {
    padding-left: 370px;
}

th {
    background-color: royalblue;
}

.righter2 {
    display: inline-block;

    padding-right: 250px;
    width: 100px;
    float: right;
}

.hrr {
    color: blue;
    background-color: blue;
}

.but {
    height: 50px;
    width: 100px;
    color: white;
    background-color: blue;
    font-size: 20px;
    box-shadow: 0 8px 6px -6px blUE;
}

#tabl {
    height: 100px;
    width: 100px;
}

.but2 {
    height: 50px;
    width: 100px;
    color: white;
    background-color: orange;
    font-size: 20px;
    box-shadow: 0 8px 6px -6px orange;
    text-align: center;
}



th,
td {
    border: 1px solid;
    text-align: center;
    padding: 10px;
}







#names {
    text-align: center;
}





table #mytable {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th #mytable {
    cursor: pointer;
}


td #mytable {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




#stat {

    background: red;
    width: 100px;
    line-height: 50px;
    height: 50px;
    border-radius: 20px;
    text-align: center;

}


.columner {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.rower:after {
    content: "";
    display: table;
    clear: both;
}